body {
    background-color: rgba(238, 246, 248, 1);
    font-family: 'Montserrat', sans-serif;
    color: rgb(31, 13, 82);
}

.nav-wrapper > .brand-logo, .nav-wrapper > .sidenav-trigger, .nav-wrapper > ul > li > a{
    color: rgb(31, 13, 82);
    font-weight: 600;
}

.nav-wrapper > .brand-logo {
    font-family: 'Montserrat', sans-serif;
}

.nav-wrapper {
    background-color: white;
}

.jumbotron-desc > h3 {
    font-weight: 600;
}

#scroll {
    color: rgb(148, 148, 148);
}

#hero {
    animation: floating 2s ease-in-out infinite alternate;
}

@keyframes floating {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}
