:root {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(238, 246, 248, 1);
    font-family: 'Montserrat', sans-serif;
    color: rgb(31, 13, 82);
}

.nav-wrapper  .brand-logo, .nav-wrapper  .sidenav-trigger, .nav-wrapper  ul  li  a {
    color: rgb(31, 13, 82);
    font-weight: 600;
}

.nav-wrapper > .brand-logo {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.nav-wrapper {
    background-color: white;
}

header ul li.active {
    border-top: 3px solid indigo;
    box-sizing: border-box;
}

.jumbotron-desc > h3 {
    font-weight: 600;
}

.card-action a {
    color: grey !important;
}

#hero {
    animation: floating 2s ease-in-out infinite alternate;
}

#feature {
    offset-position: 0;
}

.block {
    max-width: 100px;
    z-index: -1;
    transform: translateY(-250px);
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
}

.in {
    animation: in .5s ease-out forwards;
    opacity: 1;
}

.center {
    animation: center .5s ease-in-out forwards;
    opacity: 1;
}

.out {
    animation: out .5s ease-in-out forwards;
    opacity: 1;
}

.exit {
    animation: exit .5s ease-in-out forwards;
}

@keyframes floating {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes in {
    0% {
        transform: translateY(-250px);
        width: 50px;
    }
    100% {
        transform: translateY(-180px);
        width: 50px;
    }
}

@keyframes center {
    0% {
        transform: translateY(-180px);
        width: 50px;
    }
    100% {
        transform: translateY(0px);
        width: 100px;
    }
}

@keyframes out {
    0% {
        transform: translateY(0px);
        width: 100px;
    }
    100% {
        transform: translateY(180px);
        width: 50px;
    }
}

@keyframes exit {
    0% {
        transform: translateY(180px);
        width: 50px;
    }
    100% {
        transform: translateY(250px);
        width: 50px;
    }
}